@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.glass {
  backdrop-filter: blur(32px) saturate(150%);
  background: #116466;
}

.rainbow-mesh {
  background-color: rgb(179, 255, 0);
  background-image: radial-gradient(
      at 40% 20%,
      rgb(251, 122, 255) 0px,
      transparent 50%
    ), radial-gradient(at 80% 0%, rgb(33, 56, 60) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(115, 12, 20) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(198, 133, 255) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(123, 62, 26) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(53, 52, 81) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(217, 207, 210) 0px, transparent 50%);
}

.candy-mesh {
  background-color: #a599ff;
  background-image: radial-gradient(
      at 99% 6%,
      hsla(195, 69%, 67%, 1) 0px,
      transparent 50%
    ), radial-gradient(at 55% 88%, rgb(8, 2, 38) 0px, transparent 50%),
    radial-gradient(at 53% 27%, rgb(27, 26, 29) 0px, transparent 50%),
    radial-gradient(at 89% 89%, rgb(18, 6, 14) 0px, transparent 50%),
    radial-gradient(at 35% 44%, rgb(19, 14, 16) 0px, transparent 50%);
}


.bg-col {
  background: #254E58;
}

.footer-bg {
  background: #376E6F;
}

.card-bg {
  background: conic-gradient(at center top, rgb(17, 24, 39), rgb(243, 244, 246), rgb(17, 24, 39));
}

.soft {
  background: #D1E8E2;
}

#ResumeContainer {
  margin: auto;
  width: 100%;
  /* border: yellow solid 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .PDFDocument {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .PDFPage {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    
    .PDFPageOne {
    margin-bottom: 25px;
    }
    
    .PDFPage > canvas {
    max-width: 100%;
    height: auto !important;
    }
    
    